/* Import the Satoshi fonts */
@font-face {
    font-family: 'Satoshi';
    src: url('../font/satoshi_viet/MJ Satoshi-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../font/satoshi_viet/MJ Satoshi-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../font/Satoshi-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../font/satoshi_viet/MJ Satoshi-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

/* Import the SVN Chapaza fonts */
@font-face {
    font-family: 'Chapaza';
    src: url('../font/chapaza_viet/SVN-Chapaza-Regular-VIE.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Chapaza';
    src: url('../font/chapaza_viet/SVN-Chapaza-Italic-VIE.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ShelleyAndanteBT';
    src: url('../font/ShelleyAndanteBT.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0);
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav_logo {
    width: 3vh;
    display: flex;
    justify-content: center;
}

nav .nav_logo .nav_logo-img {
    width: 3vh;
    height: 3vh;
}

nav .nav_buttons {
    list-style: none;
    display: flex;
    margin: 0;
    margin-right: 3rem;
    padding: 0;
}

nav .nav_buttons li {
    margin-left: 3rem;
}

nav .nav_buttons li .nav_buttons-search{
    font-size: 1.35rem;
    font-weight: 300;
}

nav .nav_buttons li a {
    color: #EFE4D2;
    text-decoration: none;
    font-family: 'Satoshi', Arial, sans-serif;
    font-weight: 500;

}

nav .nav_buttons li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    overflow: hidden;
    background: transparent;
}

.hero video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease, opacity 0.1s ease; /* Adjusted to include opacity */
}

.hero video.fade-out {
    opacity: 0; /* Define opacity for the fade-out effect */
}

main {
    /* padding: 20px; */
    margin-top: 40px;
    height: 73vh;
    text-align: center;
    background: #EFE4D2;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .content {
    /* Middle range - Adjust font size accordingly to vw */
    width: 55vw; 
    display: flex;
    flex-direction: column;
    justify-content: start;

}

main .content .content-sign {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

main .content .content-sign img{
    width: 200px;
    /* height: 102px; */
    margin-left: -5vw;
}

main .content .content-quote {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

main .content .content-quote div{
    display: flex;
    flex-direction: row;
    /* margin-left: 3rem; */
    align-items: flex-end;
}

main .content .content-quote div h1{
    color: #000;
    text-decoration: none;
    font-family: 'Chapaza', Arial, sans-serif; 
    font-weight: 500;
    font-size: calc(3.8vw);
    margin: 0;
}

main .content .content-quote div h2{
    color: #000;
    text-decoration: none;
    font-family: 'ShelleyAndanteBT', Arial, sans-serif;
    font-weight: 300;
    font-size: calc(5.2vw);
    font-style: italic;
    margin: 0;
    margin-left: 1.875rem;

}

main h1 {
    /* font-size: 2.5rem; */
    /* font-weight: bold; */
    /* color: #333; */
}

footer {
    /* width: 100%; */
    height: calc(27vh - 40px);
    background: black;
    color: #EFE4D2;
    text-align: center;
    /* padding: 20px; */
    position: relative;
    bottom: 0;
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_main {
    margin-left: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 3vh;
}

.footer_language {
    margin-right: 5vh;
    margin-top: 3vh;
}

.footer_main .footer_at,
.footer_main .footer_socials,
.footer_main .footer_contact {
    margin-right: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer_at {
    text-decoration: none;
    font-family: 'Satoshi', Arial, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0.6px;
}

.footer_socials-content, .footer_contact-header {
    text-decoration: none;
    font-family: 'Satoshi', Arial, sans-serif;
    font-weight: 700;
    font-size: 1vw;
    padding: 0;
    display: flex;
    align-self: flex-start;
    
}



.footer_socials-icons {
    margin-left: -0.25rem;
}

.footer_socials-icons ul {
    list-style: none;
    display: flex;
    margin: 0;
    /* margin-right: 3rem; */
    padding: 0;
}


.footer_socials-icons ul li{
    /* margin-right: 0.8rem; */
    /* margin-top: -0.2rem; */

}

.footer_socials-icons ul li a img{
    width: 2.6rem;
    /* height: 2.125rem; */
}

footer .footer_main .footer_contact .footer_contact-address,
footer .footer_main .footer_contact .footer_contact-email {
    display: flex;
    flex-direction: row;
}

.footer_contact-address i, .footer_contact-email i{
    margin-right: 8px;
    font-size: 20px;
    
}


.footer_contact-address p, .footer_contact-email p{
    margin: 0;
    text-align: left;
    margin-bottom: 12px;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0.6px;
    font-family: 'Satoshi', Arial, sans-serif;
}

.footer_contact-header {
    margin-bottom: 14px;
}



#heroVideo.shrink {
    width: 150px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
}

.hidden {
    display: none;
}

.footer_language button{
    
}


.footer_language {
    position: relative;
    display: inline-block;
}
.footer_language button {
    background-color: transparent;
    color: #e0d8cd;
    border: 0.6px solid #EFE4D2;
    padding: 10px 12px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 5.313rem; /* Adjusted width */
    height: 1.875rem; /* Adjusted height */
}
.footer_language button:focus {
    outline: none;
}
.footer_language-content {
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.footer_language-content a {
    color: #EFE4D2;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.footer_language-content a:hover {
    background-color: #575757;
}
.footer_language:hover .footer_language-content {
    display: block;
}
.footer_language:hover button {
    background-color: #575757;
}


/* Mobile design adjustments (less than 880px) */
@media (max-width: 1000px) {
    .content-quote h1 {
        font-size: 5.6vw !important; /* Adjust as needed for mobile */
    }
    .content-quote h2 {
        font-size: 10vw !important;
        margin-left: 40vw !important; /* Adjust as needed for mobile */
    }
    main .content {
        width: 90vw !important;
    }

    main .content .content-quote {
        
    }

    main .content .content-quote div {
        flex-direction: column;
        align-items: flex-start;
    }

    main .content .content-sign img {
        width: 30vw;
    }

    footer {
        align-items: center !important;
        justify-content: center !important;
    }

    .footer_main {
        flex-direction: column-reverse !important;
        justify-content: center !important;
        align-items: center !important;

    }

    .footer_main .footer_at {
        /* display: none; */
    }

    .footer_main .footer_socials .footer_socials-content,
    .footer_main .footer_contact{
        display: none !important;
    }

    .footer_socials-icons ul li a img{
        width: 6rem;
        /* height: 2.125rem; */
    }

    .footer_language {
        display: none;
    }
}

/* Add this to your existing CSS */


@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}




.hero video.fade-out {
    animation: fadeOut 1s ease forwards;
}

.hidden {
    display: none;
}

body.hidden-content main, body.hidden-content footer, body.hidden-content header {
    opacity: 0;
    transition: opacity 0.7s ease;
}

/* Class to show the content */
body.show-content main, body.show-content footer, body.show-content header {
    display: flex;
}