.what-we-do {
  position: relative;
  margin: 0 auto;
  max-width: 1520px;
  margin-top: 10px; /* Position it to overlap with the overlay */
  background-color: white; /* Ensure a contrasting background */
  border-radius: 0 45px 45px 45px;
  padding: 100px 10%;
  /* box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1); */
}

/* Slider Container */
.slider-container {
  position: relative;
  /* margin:  0%; */
  border-radius: 0 45px 0 0;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Individual Slide */
.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
}

.slide {
  min-width: 100%;
  height: 700px; /* Adjust height as needed */
  transition: opacity 0.5s ease-in-out;
  position: relative;
  display: none;
  border-radius: 0 45px 0 0;
}

.slide.active {
  display: block;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 45px 0 0;
}

/* Overlay and Caption */
.slide-overlay {
  position: absolute;
  bottom: 0;
  background-color: #5d5e5a;
  width: 100%;
  height: 188px; /* Make overlay taller */
  text-align: center;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.slide-overlay h2 {
  position:relative;
  bottom: 52px;
  text-align: right;
  right: 26px;
}

.slide-caption {
  font-size: 18px;
  margin: 0;
}

/* Navigation Buttons */
.prev,
.next {
  position: absolute;
  top: 24%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0);
  color: #000;
  border: none;
  /* padding: 10px; */
  cursor: pointer;
  border-radius: 50%;
  user-select: none;
  transition: color 0.3s;
}

.prev:hover,
.next:hover {
  color: #ccc;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* Container Styling */
.what-we-do-content {
  position: relative;
  top: -107px;
  background-color: white;
  border-top-left-radius: 100px;
}

.what-we-do-content .values-content_title {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 88px;
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 400;
  line-height: 70.58px;
  text-align: left;
}

.what-we-do-title {
}

.what-we-do-title h1 {
  font-size: 5rem;
  font-weight: 400;
  line-height: 80px;
  text-align: left;
}

.what-we-do-title span {
  margin-left: 22px;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 186.06px;
  text-align: left;
}

/* Description Styling */
.what-we-do-description {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  left: 310px;
  max-width: 450px;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 56px;
  line-height: 23px;
  border-left: 1.5px solid #000000;
}

/* Services Container */
.what-we-do-services {
  display: flex;
  gap: 20px;
  margin-top: 34px;
}

.what-we-do-services__box-color {
  border-top-right-radius: 100px;
  background-color: #efe4d2;
  width: 240px;
}

.services-box-count {
  display: flex;
  gap: 135px;
  margin-left: 50px;
}

.services-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.service h3 {
  font-family: "Chapaza", Arial, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 55.96px;
  text-align: left;
}

.service ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.service ul li {
  font-family: "Satoshi", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
}

/* Team Section */
.team-section {
  padding-top: 20px;
  /* padding-bottom: 180px; */
}
.team-title {
  position: relative;
  width: 630px;
  height: 220px;
  margin: 0 auto;
}

.team-title_first {
  position: absolute;
  top: 50px;
  left: 170px;
  font-size: 7rem;
  font-style: italic;
  font-weight: 400;
  line-height: 120px;
  text-align: left;
}

.team-title_second {
  position: absolute;
  bottom: 0;
  right: 170px;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 100px;
  text-align: left;
}

.team-members {
  display: flex;
  gap: 25px;
  margin-top: 36px;
  margin-left: 65px;
  margin-right: 65px;

}

.member-item {
  position: relative;
  width: 20%;
  height: 400px;
  overflow: hidden;
}

.member-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 70px;
}

.member-info {
  position: absolute;
  position: absolute;
  bottom: 0;
  padding: 10px 20px; /* Adjust padding */
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
  border-top-right-radius: 70px;
  transition: height 0.4s ease-in-out;
  box-sizing: border-box;
  width: 100%;
  height: 80px; /* Initial height to only cover the name and role */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.member-name,
.member-roles {
  transition: opacity 0.4s ease-in-out;
}

.member-info:hover {
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9); /* Slightly darker on hover */
  height: 100%; /* Expand to cover the entire member-info area */

}

.member-info:hover .member-quotes {
  opacity: 1; /* Make visible */
  max-height: 100px; /* Set a visible height */
}

.member-info:hover .member-name,
.member-info:hover .member-roles {
  opacity: 1; /* Ensure these remain visible */
}

.member-item:hover .member-info {
  height: 100%; /* Expand to cover the entire member-info area */
}

.member-item:hover .member-quotes {
  opacity: 1; /* Make visible */
  max-height: 100px; /* Set a visible height */
}

.member-item:hover .member-info {
  background-color: rgba(0, 0, 0, 0.9); /* Slightly darker on hover */
}


.member-name {
  font-family: "Chapaza", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: #efe4d2;
}

.member-roles {
  font-family: "Satoshi", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: #efe4d2;
}

.member-quotes {
  font-family: "Satoshi", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  color: #efe4d2;
  margin-top: 10px;
  opacity: 0; /* Start hidden */
  max-height: 0; /* Hidden height */
  transition: opacity 0.4s ease-in-out, max-height 0.4s ease-in-out;
}

/* Footer */

.footer {
min-height: 100vh;
background-color: #efe4d2;
}


.footer-company {
  padding-top: 173px;
  background-color: #efe4d2;
}
.footer-box-quotes {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.footer--quotes {
  font-family: "Chapaza", Arial, sans-serif;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 3.2rem;
  text-align: left;
}

.footer--quotes span{
  font-size: 4.6rem;
}

.footer-contact {
  margin-top: 72px;
  font-family: "Satoshi", Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6rem;
  text-align: center;
  padding-bottom: 205px;
  
}

.footer-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 30px 68px;
}

.name-brand {
  font-family: "Satoshi", Arial, sans-serif;
  font-size: 23px;
  font-weight: 700;
  line-height: 31.05px;
  text-align: left;
  color: #efe4d2;
}

.custom-select {
  appearance: none; /* Ẩn mũi tên mặc định */
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #eae0d5; /* Light text color (matching the 'EN' in the image) */

  background-color: #000;
  background-image: url("../imgs/Vector.svg"); 
  background-repeat: no-repeat;
  background-position: right 10px center; /* Vị trí icon */
  background-size: 20px; /* Kích thước icon */

  padding: 10px 70px 10px 15px;
  border: 2px solid #eae0d5;
  font-size: 16px;
  visibility:hidden;

}


/* Full screen menu layer */

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 9999; 
  opacity: 0; /* Initially invisible */
  visibility: hidden; /* Hide from view */
  transition: opacity 0.5s ease, visibility 0.5s ease; /* Transition effect */
}

.layer_bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 50%;
  
}

.fullscreen-menu.active {
  opacity: 1; /* Fully visible */
  visibility: visible; /* Make it visible */
}


.menu-options {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-options li {
  font-size: 7rem;
  font-weight: 500;
  margin: -20px 0;
}

.menu-options li a {
  color: #efe4d2;
  text-decoration: none;
  font-family: 'YourFontFamily', serif;
}

.menu-title {
  font-size: 3rem;
  color: #efe4d2;
  margin-bottom: 2rem;
}



/* Initial state: elements are hidden and positioned lower */
.slide-up {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1.8s ease, transform 1.8s ease;
}

/* When elements are visible, slide them into place */
.slide-up.active {
  opacity: 1;
  transform: translateY(0);
}


/* Back to Top Button Styling */
.back-to-top {
  position: fixed;
  bottom: 20px; /* Adjust the distance from the bottom */
  right: 20px;  /* Adjust the distance from the right */
  width: 50px;
  height: 50px;
  background-color: #333; /* Circle background color */
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  visibility: hidden; /* Hidden by default */
  z-index: 1000; /* Ensure it's above other elements */
}

.back-to-top svg {
  transform: rotate(180deg); /* Rotate the SVG 180 degrees to make it upside down */
}

.back-to-top.show {
  opacity: 1;
  visibility: visible;
}

.back-to-top:hover {
  background-color: #555; /* Darken background on hover */
}











/* Responsive Design */
@media (max-width: 768px) {
  .slider-container {
    max-width: 100%;
  }

  .slide {
    height: 300px; /* Adjust height for smaller screens */
  }

  .slide-caption {
    font-size: 14px;
  }

  .what-we-do-services {
    flex-direction: column;
    gap: 10px;
  }

  .services-cont {
    flex-direction: column;
  }

  .service h3 {
    font-size: 18px;
  }

  .service ul li {
    font-size: 12px;
  }
}
