/* Who We Are Section */
.who-we-are {
    padding: 100px 0px 0px;
    background-color: #fff; /* Light pink background to match your design */
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    flex-direction: column;
    /* text-align: center; */
}

.who-content {
    margin-left: 10%;
    max-width: 900px; /* Limit the width of the content */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-bottom: 30px;
}

.who-content h2 {
    font-size: 50px;
    font-style: italic;
    margin-bottom: 64px;
    color: #000; /* Darker pink */
}

.who-title {
    margin-bottom: 40px;
    line-height: 60px;
}

.who-title h1 {
    font-size: 3.2rem;
    font-weight: 500;
    margin-bottom: 20px;
    color: #000;
}

.who-title h1 span {
    font-size: 5.5rem;

}

.who-text {
    display: flex;
    flex-direction: row;
    margin-left: 20%;

}



.who-text_content {
    display: flex;
    flex-direction: column;
    border-left: #000 2px solid;
    padding-top: 30px;
    padding-bottom: 20px;
}

.who-text_content p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 15px;
    max-width: 800px;
    margin-left: 5%;
}

.vl {
    border-left: 2px solid black;
    height: 100%;
}

.who-we-are_img {
    position: relative;
    top: -446px;
    right: -60%;
}


.img_plcs {
    width: 940px;
    height: 940px;
    object-fit: cover;
    opacity: 0.05;
}

.quote_csss {
    width: 20px;
    margin-bottom: 18px;
    margin-right: 4px;
}

.quote_sccc {
    width: 20px;
    transform: scaleY(-1);
    transform: scaleX(-1);
    margin-bottom: 18px;
    margin-left: -10px;

}